ul.menu-vertical{
	position: fixed;
	width: 200px;
	padding-top: 50px;
	left: 0;
	top: 0;
	height: 100vh;
	list-style: none;
	background-color: @dark;
	color: @light;
	border-right: 5px solid lighten(@dark, 5%);
	
	& li{
		padding: 5px 10px;
		border-bottom: 1px solid darken(@dark, 5%);
		border-top: 1px solid lighten(@dark, 5%);
	}
	
	& li.active{
		background: -webkit-linear-gradient(left, @main 0%, darken(@main, 15%) 100%);
		background: -moz-linear-gradient(left, @main 0%, darken(@main, 15%) 100%);
		background: -ms-linear-gradient(left, @main 0%, darken(@main, 15%) 100%);
		background: linear-gradient(to right, @main 0%, darken(@main, 15%) 100%);
		border-bottom: 1px solid darken(@main, 5%);
		border-top: 1px solid lighten(@main, 5%);
		position: relative;
		
		
		
		@arrow-size: 18px;
		&:after{
			content: '';
			position: absolute;
			top: 0;
			right: 0;
			border-top: @arrow-size solid rgba(0, 0, 0, 0);
			border-right: @arrow-size solid lighten(@dark, 5%);
			border-bottom: @arrow-size solid rgba(0, 0, 0, 0);
			border-left: @arrow-size solid rgba(0, 0, 0, 0);
		}
		
		& a{
			color: @light;
		}
	}
	
	& li.header{
		font-weight: bold;
		text-align: center;
	}
	
	& li:first-of-type{
		border-top: none;
	}

}

.admin-page{
	padding-left: 205px;
}